@import "./styles/variable.css";
@import "./styles/fonts.css";

/* Store Web Front Specific Global Styles */
body.store-front {
    background-color: var(--store-bg);
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
