@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

.hero-spiral-gallery {
    font-family: "Inter", sans-serif;
}

.grid-item {
    font-size: 11px;
    letter-spacing: -0.02em;
    padding: 10px;
    color: #7d7d7d;
    font-family: "Inter", monospace;
    overflow: hidden;
    opacity: 0.25;
}

.riddle-hint {
    color: #528ecc;
}

.bg-card {
    position: absolute;
    width: 85%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.fg-card {
    position: absolute;
    width: 85%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    overflow: hidden;
    opacity: 0;
}

.fg-card.active {
    opacity: 1;
}

.bg-card img,
.fg-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.enigma-code {
    font-size: 10px;
    color: #886663;
    letter-spacing: 3px;
    text-align: center;
    z-index: 10;
}
